<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ImageEditor.Properties.Settings.users21ConnectionString"
            connectionString="user id=Bruce;password=givanchy;server=localhost;persistsecurityinfo=True;database=users21"
            providerName="MySql.Data.MySqlClient" />
        <add name="ImageEditor.Properties.Settings.users21ConnectionString1"
            connectionString="server=localhost;user id=Bruce;password=givanchy;persistsecurityinfo=True;database=users21"
            providerName="MySql.Data.MySqlClient" />
        <add name="ImageEditor.Properties.Settings.users21ConnectionString2"
            connectionString="server=localhost;user id=root;password=Frost123!;persistsecurityinfo=True;database=users21"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>